

* {
  font-family: Prompt;
  margin: 0;
  padding: 0;
  animation: fadeInAnimation ease 1.5s;

}
@keyframes carousel {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;

  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.sticky {
  position: sticky;
  top: 0px;
  z-index: 100;
  background-color: black;
  animation: fadeIn 1.5s;
  transition: 3s;
}

nav {
  background-color: black;
}

a {
  text-decoration: none;
  cursor: pointer;
  border: none;
}

.cars {
  width: 100%;
  height: 100%;
  background-image: url("./Images/noised8.png");


}

.bmw {
  width: 600px;
  filter: brightness(70%);
}
.infos{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.divlogo{
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top:2.5rem;
}
.divbtnwpp{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.divbtnwpp2{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-top:1rem;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding-top: 5rem;
}
.ppt{
  font-size: 20px;
 
}


.btn {
  background-color: #121212;
  width: 255px;
  height: 6vh;
  color: #f2f2f2;
  border: none;
  border-radius: 4px;

  cursor: pointer;
  font-size: 13px;
  letter-spacing: 0.8px;
  font-style: italic;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:0.4rem



}
.divpowerpoint{
  padding-bottom:1rem;
} 

.btn1 {
  background-color: #00FF00;
  width: 70px;
  height: 6.5vh;
  color: #f2f2f2;
  border: none;
  border-radius: 4px;

  cursor: pointer;
  font-size: 13px;
  letter-spacing: 0.8px;
  font-style: italic;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  animation: carousel 4s alternate infinite ease-in-out;



}


.wppi {
  font-size: 27px;
}

.type {
  font-size: 22px;
  letter-spacing: 0.5px;

  font-weight: 800;

  color: #181818;
  height: 5vh;
  font-style: italic;
  





}

.km {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.5px;
  color: #181818;
  height: 3vh;
}


.km1 {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #181818;
  font-style: italic;
}
.carouselfadel{
  display: flex;
}
.ano {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.5px;
  color: #181818;
  height: 3vh;

}

.ano1 {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #181818;
  font-style: italic;

}

.cond {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.5px;
  color: #181818;
  height: 3vh;


}

.cond1 {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #181818;
  padding-bottom: 0.4rem;
  font-style: italic;

}

.cor {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.5px;
  color: #181818;
  height: 3vh;

}
.divtextbus{
  display: flex;
  justify-content: center;
  padding-top:5rem;
 
  
}
.divtextinfo{
  padding-top:0.5rem;

}

.textbus{
font-size: 70px;
}
.textcar{
  font-size: 75px;
  }
.cor1 {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.5px;
  height: 3vh;
  color: #181818;
  font-style: italic;

}

.hr {
  width: 1000px;
  background-color: #181818;



}
.awssld__content {
 background-color:transparent;

}
.divfullslide{
  height: 100%;
  padding-top:4rem;
  background-color: transparent;

}
.docicon{
  width: 100%;
  height: 70vh;
  border-radius: 12px;
}
.awssld__bullets {
  gap: 2rem;
  animation: none;
  background-color: transparent;
  display: none;
  
}
.awssld__box {
  background-color: transparent;

}
.awssld__controls__arrow-right {
  background-color: transparent;
}
.awssld__controls__arrow-left {
  background-color: transparent;
}

.awssld--active {
  background-color: transparent;
}.autoslider{
  height: 80vh;
 
}
.awssld__content {
  background-image: url("./Images/noised8.png");
}
.divcarousel{
  display: flex;
  gap:5rem;
  align-items: center;
  background-color: transparent;



}
.h3name{
  height: 2.5vh;
  font-size:16px;
  font-style: italic;
  font-weight: 800;
}



.divtop {

  height: 9vh;
  background-color: #121212;
  display: flex;
  align-items: center;
  padding-left: 3rem;

}

.select {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 3rem;
  gap: 1.5rem;

}

.click {
  font-size: 13px;

  letter-spacing: 0.3px;
  font-weight: 800;
  color: #f2f2f2;
  font-style: italic;
}


.docmicro{
  width: 350px;
  height: 70vh;
  border-radius: 12px;
}
.g{
width: 35px;
animation: flip 3s alternate infinite ease-in-out;
}

@keyframes flip {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(180deg);
  }
}

.divtext {
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  padding-top:4rem;



}

.text {
  background-color: transparent;
  text-align: center;
  width: 800px;
  font-size: 32px;
  font-weight: 200;
  font-style: italic;
  color: #181818;

}



.divdireitos {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 0.2rem;
}

.direitos {
  font-size: 11px;
  font-weight: 300;
  font-style: italic;
}
.bus{
  width: 500px;
}


.divbus {

  width: 100%;
  height: 100%;
  background-image: url("./Images/noised8.png");


}





.iconb {
  width: 51px;
}

@media screen and (max-width: 1200px) {
  .bmw {
    width: 400px;

  }

  .hr {
    width: 750px;
  }

  .bus {
    width: 300px;
    
  }
  


}
@media screen and (max-width: 1000px){


}


@media screen and (max-width: 900px) {
  .hr {
    width: 350px;
  }

  .bmw {
    width: 400px;
  }

  .bus {
    width: 300px;
  }

  .text {
    width: 430px;
    font-size: 27px;
  }
 
}

@media screen and (max-width: 500px){
.divcarousel{
  width: 100%;

}
.docicon{
  border-radius: 0px;
}
.docmicro{
  border-radius: 0px;
  width: 100%;
}
.type{
  font-size: 21px;
  height: 100%;
}



}
@media screen and (max-width: 432px) {
  .bmw {
    width: 340px;
  }

  .hr {
    height: 0.1vh;
  }

  .bus {
    width: 260px;
  }

  

  .divtop {


    padding-left: 1.7rem;

  }

  .select {

    padding-right: 1.7rem;

  }

  .text {
    width: 300px;
    font-size: 23px;
    font-weight: 300;
  }
 
  
}

@media screen and (max-width: 414px) {
  .bmw {
    width: 320px;
  }

  .bus {
    width: 230px;
  }

  .hr {
    width: 280px;
  }

  .text {
    width: 300px;
    font-size: 20px;

  }

}

@media screen and (max-width: 390px) {
  

  .bmw {
    width: 290px;
  }

  .bus {
    width: 220px;
  }
  .type{
    width: 230px;
  
  }
 
 
 

}
